apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: cortex
spec:
  volumeClaimTemplates:
    - metadata:
        name: storage
      spec:
        accessModes: ["ReadWriteOnce"]
        resources:
          requests:
            storage: 25Gi
