apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: axon
spec:
  template:
    spec:
      containers:
        - name: axon
          resources:
            requests:
              memory: "2Gi"
              cpu: "1000m"
            limits:
              memory: "8Gi"
              cpu: "4000m"
  volumeClaimTemplates:
    - metadata:
        name: storage
      spec:
        accessModes: ["ReadWriteOnce"]
        resources:
          requests:
            storage: 200Gi
