apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: cortex
spec:
  template:
    spec:
      containers:
        - name: cortex
          resources:
            requests:
              memory: "4Gi"
              cpu: "2000m"
            limits:
              memory: "16Gi"
              cpu: "8000m"
  volumeClaimTemplates:
    - metadata:
        name: storage
      spec:
        accessModes: ["ReadWriteOnce"]
        resources:
          requests:
            storage: 200Gi
