apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: optic
spec:
  template:
    spec:
      containers:
        - name: optic
          resources:
            requests:
              memory: "1Gi"
              cpu: "500m"
            limits:
              memory: "4Gi"
              cpu: "2000m"
  volumeClaimTemplates:
    - metadata:
        name: storage
      spec:
        accessModes: ["ReadWriteOnce"]
        resources:
          requests:
            storage: 5Gi
