apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: synapse

resources:
  - ../../base

labels:
  - pairs:
      app.kubernetes.io/environment: small
    includeSelectors: false

images:
  - name: vertexproject/synapse-aha
    newTag: v2.x.x
  - name: vertexproject/synapse-axon
    newTag: v2.x.x
  - name: vertexproject/synapse-jsonstor
    newTag: v2.x.x
  - name: vertexproject/synapse-cortex
    newTag: v2.x.x
  - name: vertexproject/optic
    newTag: v2.x.x

patches:
  - path: patches/axon-statefulset.yaml
  - path: patches/cortex-statefulset.yaml
  - path: patches/optic-configmap.yaml
