apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: aha
spec:
  template:
    spec:
      containers:
        - name: aha
          resources:
            requests:
              memory: "128Mi"
              cpu: "50m"
            limits:
              memory: "256Mi"
              cpu: "250m"
  volumeClaimTemplates:
    - metadata:
        name: storage
      spec:
        accessModes: ["ReadWriteOnce"]
        resources:
          requests:
            storage: 1Gi
