apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: axon
spec:
  template:
    spec:
      containers:
        - name: axon
          resources:
            requests:
              memory: "256Mi"
              cpu: "100m"
            limits:
              memory: "512Mi"
              cpu: "500m"
  volumeClaimTemplates:
    - metadata:
        name: storage
      spec:
        accessModes: ["ReadWriteOnce"]
        resources:
          requests:
            storage: 5Gi
