apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: cortex
spec:
  template:
    spec:
      containers:
        - name: cortex
          resources:
            requests:
              memory: "512Mi"
              cpu: "250m"
            limits:
              memory: "1Gi"
              cpu: "1000m"
  volumeClaimTemplates:
    - metadata:
        name: storage
      spec:
        accessModes: ["ReadWriteOnce"]
        resources:
          requests:
            storage: 5Gi
